<div class="flex-container">
  <mat-card class="example-card">
    <mat-card-title>Create New Activity</mat-card-title>
    <form [formGroup]="signupForm" (ngSubmit)="onSubmit()">
      <div>
        <mat-form-field appearance="standard">
          <label for="activityname">Activity Name</label>
          <input matInput type="text" placeholder="Enter activity name" formControlName="activityname" id="activityname">
          <mat-error *ngIf="!signupForm.get('activityname').valid && signupForm.get('activityname').touched">
            {{getActivitynameErrorMessage()}}</mat-error>
        </mat-form-field>
      </div>

      <div>
        <mat-form-field appearance="standard">
          <label for="email">Activity Email</label>
          <input matInput id="email" formControlName="email">
          <mat-error *ngIf="!signupForm.get('email').valid && signupForm.get('email').touched">
            {{getEmailErrorMessage()}}</mat-error>
        </mat-form-field>
      </div>

      <mat-form-field appearance="standard">
        <mat-label>Telephone</mat-label>
        <span matPrefix>+1 &nbsp;</span>
        <input type="tel" matInput placeholder="555-555-1234" formControlName="phone" id="phone">
        <mat-icon matSuffix>mode_edit</mat-icon>
        <mat-error *ngIf="!signupForm.get('phone').valid && signupForm.get('phone').touched">
            {{getPhoneErrorMessage()}}</mat-error>
      </mat-form-field>

      <div>
        <mat-form-field appearance="standard">
          <label for="address1">Address1</label>
          <input matInput type="text" placeholder="Enter address1" formControlName="address1" id="address1">
          <mat-error *ngIf="!signupForm.get('address1').valid && signupForm.get('address1').touched">
            {{getAddress1ErrorMessage()}}</mat-error>
        </mat-form-field>
      </div>

      <div>
        <mat-form-field appearance="standard">
          <label for="address2">Address2</label>
          <input matInput type="text" placeholder="Enter address2" formControlName="address2" id="address2">
          <mat-error *ngIf="!signupForm.get('address2').valid && signupForm.get('address2').touched">
            {{getAddress2ErrorMessage()}}</mat-error>
        </mat-form-field>
      </div>

      <div>
        <mat-form-field appearance="standard">
          <label for="city">City</label>
          <input matInput type="text" placeholder="Enter city" formControlName="city" id="city">
          <mat-error *ngIf="!signupForm.get('city').valid && signupForm.get('city').touched">
            {{getCityErrorMessage()}}</mat-error>
        </mat-form-field>
      </div>

      <div>
        <mat-form-field appearance="standard">
          <label for="state">State</label>
          <input matInput type="text" placeholder="Enter state" formControlName="state" id="state" [value]="signupForm.get('state').value | uppercase">
          <mat-error *ngIf="!signupForm.get('state').valid && signupForm.get('state').touched">
            {{getStateErrorMessage()}}</mat-error>
        </mat-form-field>
      </div>

      <div>
        <mat-form-field appearance="standard">
          <label for="zip">Zip</label>
          <input matInput type="text" placeholder="Enter zip" formControlName="zip" id="zip">
          <mat-error *ngIf="!signupForm.get('zip').valid && signupForm.get('zip').touched">
            {{getZipErrorMessage()}}</mat-error>
        </mat-form-field>
      </div>

      <mat-error *ngIf="!signupForm.valid && signupForm.touched"> {{getFormErrorMessage()}}</mat-error>

      <div>
        <br>
        <button mat-raised-button color="primary">Submit</button>
      </div>
    </form>
  </mat-card>
</div>

