<div class="flex-container">
  <mat-card>
    <form [formGroup]="signupForm" (ngSubmit)="onSubmit()">
        <div>
          <mat-form-field appearance="standard">
            <label for="username">Username</label>
            <input matInput type="text" placeholder="Enter user name" formControlName="username" id="username">
            <mat-error *ngIf="!signupForm.get('username').valid && signupForm.get('username').touched">{{getUsernameErrorMessage()}}</mat-error>
          </mat-form-field>
        </div>
        <!-- <span *ngIf="!signupForm.get('username').valid && signupForm.get('username').touched"
          class="help-block">
          <span *ngIf="signupForm.get('username').errors['nameIsForbidden']">This name is invalid!</span>
          <span *ngIf="signupForm.get('username').errors['required']">This field is required!</span>

        </span> -->
        <div>
          <mat-form-field appearance="standard">
            <label for="email">email</label>
            <input matInput id="email" formControlName="email">
            <mat-error *ngIf="!signupForm.get('email').valid && signupForm.get('email').touched">{{getEmailErrorMessage()}}</mat-error>
          </mat-form-field>
        </div>
        <!-- <div> -->
          <!-- <mat-radio-group aria-label="Select an option">
            <div *ngFor="let gender of genders">
              <mat-radio-button formControlName="gender" [value]="gender"></mat-radio-button>
            </div>
          </mat-radio-group> -->
          <div class="radio" *ngFor="let gender of genders">
            <input type="radio" formControlName="gender" [value]="gender">{{ gender }}
          </div>
            <br>
            <h4>Your Hobbies</h4>
            <button mat-raised-button
              type="button"
              (click)="onAddHobby()">Add Hobby</button>
          <div formArrayName="hobbies">
            <div *ngFor="let hobbie of getControls(); let i = index">
              <mat-form-field appearance="standard">
                <input matInput [formControlName]="i">
              </mat-form-field>

              <!-- <input type="text"  formArrayName="control" [formControlName]="i"> -->
            </div>
          </div>
      <!-- </div> -->
        <!-- </div> -->
        <!-- <mat-form-field appearance="fill">
          <label for="email">email</label>
          <input matInput id="email" formControlName="email" class="form-control">
        </mat-form-field>
        <span *ngIf="!signupForm.get('userData.email').valid && signupForm.get('userData.email').touched"
          class="help-block">Please enter a valid email!</span>
      </div>
      <div class="radio" *ngFor="let gender of genders">
          <input type="radio" formControlName="gender" [value]="gender">{{ gender }}
      </div>
      <div formArrayName="hobbies">
        <h4>Your Hobbies</h4>
        <mat-radio-button class="btn btn-default" type="button" (click)="onAddHobby()">Add Hobby</mat-radio-button>
        <div class="form-group" *ngFor="let hobbyControl of signupForm.get('hobbies'); let i = index">
          <mat-form-field>
            <input matInput type="text" class="form-control" [formControlName]="i">
          </mat-form-field>
        </div> -->
      <!-- </div> -->
      <!-- <span *ngIf="!signupForm.valid && signupForm.touched" class="help-block">Please enter valid data!</span> -->
      <div>
        <br>
        <button mat-raised-button color="primary">Submit</button>
      </div>
      <!-- <button class="btn btn-primary" type="submit">Submit</button> -->
    </form>
    </mat-card>
  <!-- </div> -->
</div>
<!-- </div> -->
