<div class="flex-container">
  <!-- <div class="row"> -->
  <!-- <div> -->
  <!-- <div class="col-xs-12 col-sm-10 col-md-8 col-sm-offset-1 col-md-offset-2"> -->
  <!-- <div flex-item> -->
  <mat-card>
    <form [formGroup]="signupForm" (ngSubmit)="onSubmit()">
      <!-- <div formGroupName="userData"> -->
        <!-- <div class="form-group"> -->
        <!-- <mat-form-field appearance="fill">
          <label for="username">Username</label>
          <input matInput type="text" id="username" formControlName="username" class="form-control">
        </mat-form-field> -->
        <mat-form-field appearance="standard">
          <label for="username">Username</label>
          <input matInput type="text" placeholder="Enter user name" formControlName="username">
        </mat-form-field>
        <!-- <span *ngIf="!signupForm.get('userData.username').valid && signupForm.get('userData.username').touched"
          class="help-block">
          <span *ngIf="signupForm.get('userData.username').errors['nameIsForbidden']">This name is invalid!</span>
          <span *ngIf="signupForm.get('userData.username').errors['required']">This field is required!</span>

        </span> -->
        <!-- <mat-form-field appearance="fill">
          <label for="email">email</label>
          <input matInput id="email" formControlName="email" class="form-control">
        </mat-form-field>
        <span *ngIf="!signupForm.get('userData.email').valid && signupForm.get('userData.email').touched"
          class="help-block">Please enter a valid email!</span>
      </div>
      <div class="radio" *ngFor="let gender of genders">
          <input type="radio" formControlName="gender" [value]="gender">{{ gender }}
      </div>
      <div formArrayName="hobbies">
        <h4>Your Hobbies</h4>
        <mat-radio-button class="btn btn-default" type="button" (click)="onAddHobby()">Add Hobby</mat-radio-button>
        <div class="form-group" *ngFor="let hobbyControl of signupForm.get('hobbies'); let i = index">
          <mat-form-field>
            <input matInput type="text" class="form-control" [formControlName]="i">
          </mat-form-field>
        </div> -->
      <!-- </div> -->
      <!-- <span *ngIf="!signupForm.valid && signupForm.touched" class="help-block">Please enter valid data!</span> -->
      <div>
        <button mat-raised-button color="primary">Submit</button>
      </div>
      <!-- <button class="btn btn-primary" type="submit">Submit</button> -->
    </form>
    </mat-card>
  <!-- </div> -->
</div>
<!-- </div> -->
